body{
    background-color: hsl(217, 54%, 11%) ;
    color:white;
    font-size:15px;
    margin:300px;
    margin-left: 530px;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
}
.div4{
    display:flex;
}
.symbol{
    font-size:18px;
    display: flex;
    flex-direction: row;
}
.avatar{
    width:25px;
    height:25px;
    border-color:white;
    border-width: 1px;
}
.card-div{
    margin:24px;
    justify-content: center;
}
.last-div{
    display: flex;
    flex-direction: row;
}
boder-top{
    border-top:2px solid hsl(215, 32%, 27%);
}
.equilibrium{
    width:250px;
    height: 250px;
    border-radius: 10px;
    margin-top: 25px;
}

.whole-div{
    align-content: center;
    background-color:  hsl(216, 50%, 16%);
    width:300px;
    height:490px;
    border-radius:10px ;
   
}
